*{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("fundo.png");
    background-size: cover;       /* FAZ A IMAGEM COBRIR TODA A TELA */
    background-position: center;  /* CENTRALIZA */
    background-repeat: no-repeat; /* NÃO REPETE */
    height: 100vh;                /* ALTURA TOTAL DA TELA */
    margin: 0;
}

.container {
    width: 500px;
    height: 300px;
    margin: 400px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1 {
    color: #333;
    display: block;
    text-align: center;
    width: 200px;
    margin: 0 auto 20px auto;
}
img.login-image {
    width: 300px;
    height: 200px;
    display: block;
    margin: 0 auto 20px auto;
}
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    width: 50px;

}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #2c9db2;
    text-decoration: none;
}