<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/deshboard.css">
    <title>Document</title>
</head>
<body>
       <header>
       <img src="static/unnamed.jpg" alt="">
        <nav>
            <ul>
                <a href="/">Início</a>
                <a href="/">coleções</a>
                <a href="/">pesquisa</a>
            </ul>
        </nav>
       </header> 
</body>
</html>