<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/deshboard.css">
    <link rel="icon" href="static/unnamed.jpg" type="image/png" >
    <title>deshboard</title>
</head>
<body>
       <header>
       <img src="static/unnamed.jpg" alt="">
        <nav>
            <ul>
                <a href="/">Início</a>
                <a href="/">coleções</a>
                <a href="/">pesquisa</a>
            </ul>
        </nav>
       </header>
       
  <div class="txt">
        <h1>Bem-vindo à Biblioteca</h1>
        <p>A nossa biblioteca foi criada para facilitar o acesso ao conhecimento, à cultura e à informação. Aqui, você pode explorar um vasto acervo de livros, artigos e materiais educativos de forma rápida e organizada.

Nosso objetivo é proporcionar uma experiência prática e agradável, permitindo que você encontre facilmente o que procura, faça empréstimos e acompanhe suas leituras.

Seja para estudar, pesquisar ou simplesmente aproveitar uma boa leitura, este é o lugar certo para você.

📖 Explore, descubra e aprenda todos os dias.</p>
 </div>
</body>
</html>