<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="static/login.css">
    <link rel="icon" href="static/unnamed.jpg" type="image/png" >
</head>
<body>
    <div class="container">
    <form action="/login" method="post">
        <img src="static/unnamed.jpg" alt="Login Image" class="login-image"><br><br>
        <h1>BEM-VINDO</h1>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>
        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Login">
        <a href="/cadastro">Não tem uma conta? Cadastre-se aqui</a>
    </form>
    </div>
</body>
</html>